.jumbotron, h1  { 
    text-align: center !important;
    background: #20325a;
    color: white !important;
    font-weight: bold !important;
    font-size: 40px;
    font-family: sans-serif;

}

.container {
    margin-top: 50px;
    margin-bottom: 50px;
    
}

.btn-primary {
   color: black;
   background-color: #ffffff;
   border-color: #ffffff;
   
}

.headers {
    background: #f8f8f8;
}